/* --- GLOBAL STYLESHEET --- */
/* This file imports all the modular CSS files to create a single, consistent design system. */

/* 1. Core Foundation */
@import url('css/variables.css');
@import url('css/base.css');
@import url('css/layout.css');
@import url('css/components.css');
@import url('css/animations.css');

/* 2. Page/Component-specific Styles */
@import url('css/forms.css');
@import url('css/pages.css');
@import url('css/account.css');
@import url('css/admin.css');
@import url('css/event-details.css');